.OrderHistory
  margin: var(--root-padding)
  background-color: var(--primary-blue)
  border-radius: 12px

.status
  padding: 15px
  display: flex
  flex-direction: column
  gap: 4px
  border-bottom: 1px solid var(--fieldset-border)
  &:last-child
    border: none

.title
  font-size: 14px
  font-weight: 600
  
.desc
  font-size: 12px
  color: var(--subtitle-text-color)
  max-width: 80%

.status_actions
  display: flex
  justify-content: flex-end
  gap: 8px  
  
.status_messages
  padding: 8px 0
  display: flex
  flex-direction: column
  gap: 4px
  
.row
  display: block
  width: 100%
  &.type_chat
    .message_out
      padding: 4px 0
      display: flex
      flex-direction: column
      align-items: flex-end
    .message
      padding-bottom: 30px
      max-width: 85%
      display: flex
      flex-direction: column
      align-items: flex-end
      gap: 4px
      .file
        margin-left: 68px
        .logo
          height: calc( 100% - 2 * 4px )
          position: absolute
          left: 4px
          top: 4px
          border-radius: 8px
        .name
          max-width: 120px


.message
  padding: 8px
  min-width: 100px
  position: relative
  font-size: 14px
  background-color: var(--primary-cyan)
  border-radius: 8px

  .file
    display: flex
    flex-direction: row
    align-items: center
    gap: 8px
    color: #7F85A2
    .logo
      height: 36px
      aspect-ratio: 1 / 1
      border-radius: 4px
      background-color: var(--secondary-cyan)
      overflow: hidden
      img
        width: 100%
        height: 100%
        object-fit: cover
    .name
      flex-grow: 1
      color: var(--subtitle-text-color)
  .time
    position: absolute
    bottom: 8px
    right: 8px
    color: var(--subtitle-text-color)
    font-size: 12px


.actions
  margin-top: 8px
  display: flex
  justify-content: flex-end


// .MessageModal
.content
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  background-color: var(--primary-light)
.messages_list
  margin: var(--root-padding)  
  padding: 12px
  flex-grow: 2
  border-radius: 12px
  overflow: scroll
  .list
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: flex-end
  img
    width: 55%
    margin: 0 auto
  &.center
    display: flex
    align-items: center
    justify-content: center
.messages_form
  margin: var(--root-padding)
  display: flex
  flex-direction: column
  gap: 12px
  .actions
    margin: 0
    .confirm
      flex-grow: 2
    .file
      display: flex
      align-items: center
      padding: 0 10px   
.form_file
  padding: 12px
  display: flex
  flex-direction: row
  align-items: center
  gap: 8px
  background-color: var(--primary-purpule50)
  border-radius: 12px
  .logo
    display: flex
  .name
    flex-grow: 1
    color: #7F85A2
    font-size: 16px
      
