.OrderList
  margin: var(--root-padding)
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 15px

.OrderCard
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-size: 24px
  font-weight: 400
  aspect-ratio: 1 / 1 
  border-radius: 12px
  background-color: var(--primary-purpule)
  box-shadow: none
  user-select: none
  &:hover
    cursor: pointer

.delivery
  background-color: var(--primary-blue)

.done
  background-color: var(--secondary-mint)