.ListItemButton
  min-height: 48px
  padding: 8px 16px
  border-radius: 8px
  &:hover,
  &.active
    background-color: #333333
    svg
      color: #BFB2FF
    .MuiListItemText-root
      color: #BFB2FF

.ListItemIcon
  min-width: 0
  color: #9E9E9E
  svg
    height: 24px
    width: 24px

.ListItemText
  color: #9E9E9E
  font-weight: 600
  font-size: 16px
  .MuiTypography-root
    font-weight: 600

.tooltip-text
  font-size: 16px
  color: #BFB2FF
  font-weight: 600
